/* Circle loader */
.circle-loader {

  width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid lighten(theme-color(primary),30%);
    border-top-color: lighten(theme-color(primary),10%);
    animation: 1.5s spin infinite linear;
    position: relative;
    margin: 0 auto;
}
  
  .circle-loader:before{
    z-index: 10;
    animation: spin 1s infinite;
  }
  
  .circle-loader:after{
    border: 10px solid theme-color(secondary);
  }
  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  